h2.impressions-rainbow {
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 55px;
  display: inline-block;
}
body {
  font-family: Arial;
}
table td {
  padding: 0.5em 1.5em; 
}
table tr.not-recent {
  background-color: #fa8b8b;
}
table tr:first-child {
  background-color: rgb(27, 117, 188);
  color: white;
}
a {
  color: rgb(27, 117, 188);
}
table tr.full {
  background-color: rgb(20, 220, 157);
}
.card {
  background-color: #efefef;
  padding: 1em;
  margin: 0.5em;
  display: inline-block;
  font-weight: bold;
  color: rgb(27, 117, 188);
}
.card-label {
  font-size: 1em;
}
.card-value {
  color: rgb(0, 49, 89);
  font-size: 2em;
}
.preview {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.preview img {
  max-width: 110px;
  max-height: 30px;
}
