h2.impressions-rainbow {
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 55px;
  display: inline-block;
}
body {
  font-family: Arial;
}
table {
  margin-bottom: 1em;
}
table td {
  padding: 0.5em 1.5em; 
}
table tr.not-recent {
  background-color: #fa8b8b;
}
table tr:first-child {
  background-color: rgb(27, 117, 188);
  color: white;
}
a {
  color: rgb(27, 117, 188);
}
table tr.full {
  background-color: rgb(20, 220, 157);
}
.card {
  background-color: #efefef;
  padding: 1em;
  margin: 0.5em;
  display: inline-block;
  font-weight: bold;
  color: rgb(27, 117, 188);
}
.button {
  background-color: rgb(27, 117, 188);
  padding: 1em;
  margin: 0.5em;
  display: inline-block;
  font-weight: bold;
  color: #efefef;
}
.card-label {
  font-size: 1em;
  position: relative;
}
.card-value {
  color: rgb(0, 49, 89);
  font-size: 2em;
  position: relative;
}
.card.chart {
  position: relative;
  width: 220px;
}
.preview {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.preview img, .preview video {
  max-width: 110px;
  max-height: 30px;
}

.card .loading {
  background: url('data:image/svg+xml;utf8,<svg  version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve"><circle fill="%23003159" stroke="none" cx="6" cy="50" r="6"><animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1"></animate></circle><circle fill="%23003159" stroke="none" cx="26" cy="50" r="6"><animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.2"></animate></circle><circle fill="%23003159" stroke="none" cx="46" cy="50" r="6"><animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.3"></animate></circle></svg>');
  background-repeat: no-repeat;
  height: 2.2rem;
  /* no idea what i did here */
  background-size: 60% auto;
  background-position: 80%;
}

